<!--app-cards></app-cards>-->
<!--div style="height: 72vh; margin-top: 10px;">
  <div class="grid-container">

    

  </div>
  <div class="grid-item">

    <div>
      <p-chart type="doughnut" [data]="data_1" [options]="options_1"></p-chart>


    </div>
  </div>
  <div class="grid-item">
    <div style="background-color: white;">
      <p-chart [type]="'line'" [data]="data" [options]="options"></p-chart>
    </div>

  </div>
  <div class="grid-item">4</div>
</div>

<div style="background-color: white;">
      <p-chart [type]="'bar'" [data]="data" [options]="options"></p-chart>
    </div>-->
<div style=" display: grid; grid-template-columns: 50% 50%; gap: 10px;">
  <div style="padding: 15px; background-color: rgb(228, 224, 224);
  border-radius: 10px;">
   
      <p-chart [type]="'bar'" [data]="data" [options]="options"></p-chart>
  </div>
  <div style="padding: 15px; background-color: rgb(228, 224, 224);
  border-radius: 10px;">
    <p-chart [type]="'line'" [data]="data" [options]="options"></p-chart>
  </div>
</div>
